@using System.Globalization;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Options;
@inject IViewLocalizer _localizer;

@{
    var requestFeatures = Context.Features.Get<IRequestCultureFeature>();
    var name = ViewBag.Name;
}
<h1>name getten from thead resource file</h1>
<h1>@name from the asp-controller itself</h1>
<h1>@_localizer["name"].Value</h1>
<a asp-controller="Test" asp-action="Create" class="btn btn-primary">Create</a>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">culture name</th>
      <th scope="col">culture name ui </th>
      <th scope="col">date</th>
      <th scope="col">price</th>
      <th scope="col">number</th>
    </tr>
    
  </thead>
  <tbody>
    <tr>
      <th scope="row">@requestFeatures.RequestCulture.Culture.Name</th>
      <td>@requestFeatures.RequestCulture.UICulture.DisplayName</td>
      <td>@DateTime.UtcNow.ToLongDateString()</td>
      <td>@(772.7273.ToString("c"))</td>
      <td>@(6232.23m.ToString("F2"))</td>
    </tr>
  </tbody>
</table>
